@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Resetting */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

img,
svg {
  display: block;
}

button {
  border: none;
}

/* Typography */

body {
  font-family: "Poppins", sans-serif;
  contain: layout;
}

.nav-link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
}

.heading-primary {
  font-size: 4rem;
  line-height: 110%;
}

.heading-secondary {
  font-size: 3rem;
}

.heading-third {
  font-size: 2.25rem;
}

.heading-secondary,
.heading-third {
  line-height: 120%;
}

.heading-primary,
.heading-secondary,
.heading-third,
.nav-link {
  font-weight: 500;
}

.lead {
  font-size: 1.25rem;
  line-height: 160%;
}

@media screen and (max-width: 40.5rem) {
  .heading-primary {
    font-size: 2rem;
  }

  .heading-secondary {
    font-size: 1.5rem;
  }

  .heading-third {
    font-size: 1.25rem;
  }

  .lead {
    font-size: 1rem;
  }
}

/* Theme */

:root {
  --color--white: white;
  --color--black: black;
  --color--blue: #4891ff;
  --color--grey: #e5e7eb;
}

.text-white {
  color: var(--color--white);
}

.text-black {
  color: var(--color--black);
}

.bg-blue {
  background-color: var(--color--blue);
}

.bg-white {
  background-color: var(--color--white);
}

.bg-black {
  background-color: var(--color--black);
}

.text-grey {
  color: var(--color--grey);
}

/* Layout */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.item-top {
  align-items: start;
}

.justify-space-bw {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-4 {
  gap: 4rem;
}

.container {
  max-width: 78.125rem;
  margin: 0 auto;
}

@media screen and (max-width: 78.125rem) {
  .container {
    padding-inline: 1.5rem;
  }
}

/* Components */

/* Header */

header {
  padding-block: 1.25rem;
}

button {
  font-size: inherit;
  font-family: inherit;
}

.login-btn {
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  border-radius: 0.625rem;
  border: none;
  line-height: 150%;
}

@media screen and (max-width: 48rem) {
  /* 
  body {
    position: relative;
    overflow-x: hidden;
  } */

  header ul {
    position: absolute;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    top: 0;
    left: 0;
    justify-content: center;
    transform: translateX(100%);
    z-index: 999;
  }
}

@media screen and (min-width: 48.0625rem) {
  #hamburger-menu {
    display: none;
  }
}

/* Hero Section */

#hero-section {
  height: 50rem;
  padding-block: 4rem;
}

.h-full {
  height: 100%;
}

.hero-img {
  background-image: url("./images/hero-img-desktop.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

#hero-section .lead {
  padding-block: 3rem;
}

.btn-black,
.btn-blue {
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 1rem;
}

@media screen and (max-width: 40.5rem) {
  .hero-img {
    background-image: url("./images/background-img-mobile.png");
    background-size: calc(100%-3rem) auto;
  }

  #hero-section {
    height: 100vh;
    padding: 2rem;
    text-align: center;
  }

  .lead {
    padding: 1.5rem;
  }

  #hero-section ul {
    flex-direction: column;
    align-items: stretch;
  }

  #hero-section ul button {
    width: 100%;
  }
}

/* Video Section */

#video-section {
  height: 60.1875rem;
}

/* About section */

#about-section .container {
  border-top: 2px solid var(--color--grey);
  padding-block: 5.875rem;
}

.about-card {
  padding: 3.1875rem;
  border-radius: 0.625rem;
}

#about-card-container {
  margin-top: 4.8225rem;
}

#about-card-container>* {
  width: 32%;
}

.about-card h2.lead {
  margin-top: 2rem;
}

@media screen and (max-width: 1100px) {
  .about-card {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 940px) {

  #about-card-container {
    flex-wrap: wrap;
    gap: 1rem;
    align-items: stretch;
  }

  #about-card-container>* {
    width: calc((100% - 1rem) / 2);
  }
}

@media screen and (max-width: 41.875rem) {
  #about-card-container>* {
    width: 100%;
  }

}

/* Price-section */

#price-section {
  padding-block: 5rem;
}

#price-section .card-container {
  border-radius: 0.625rem;
  border: 0.1875rem solid var(--color--black);
  max-width: 25rem;
}

#price-section .card-content {
  max-width: 25rem;
  padding: 3.6875rem;
}

.hr-black {
  border-color: rgb(0, 0, 0);
}

.price-txt {
  font-size: 0.875rem;
  font-weight: 400;
}

.fs-1 {
  font-size: 1rem;
}

/* Second card */

.hr-white {
  border-color: rgb(255, 231, 231);
  width: 100%;
}

#price-card-container>* {
  width: 25rem;
}

@media screen and (max-width: 875px) {
  #price-card-container {
    flex-direction: column;
    gap: 2rem;
  }
}